@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Comfortaa:wght@300..700&family=Gravitas+One&family=M+PLUS+Rounded+1c&display=swap');

* {
    font-family: "Comfortaa", sans-serif;
}

body {
    padding: 0;
    margin: 0;
    background-color: rgb(250, 228, 197);
}

#direitos {
    font-family: "Bodoni Moda", serif;
    background-color: #1e293b;
    border-top: 1px solid #334155;
    color: #7b7b83;
    text-align: center;
    padding: 3rem;
    margin: 0;
    font-weight: bolder;
    font-size: 1rem;
}

#direitos a {
     font-family: "Bodoni Moda", serif;
    color: #7b7b83;
}

#contato {
    margin-bottom: 3rem;
}

#sobre img {
    width: 200px;
    height: auto;
}
